.fieldset {
  margin-bottom: 20px;
  /* background-color: yellow; */
}

.form__label {
  display: block;
  margin-bottom: 10px;
  /* background-color: aquamarine; */
}

.form__label:last-child {
  margin-bottom: 0;
}
